<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <style>
        .set1 {
            background-color: aqua;
            color: purple;
        }

        .set2 {
            text-align: center;
            width: 120px;
        }

        .set3 {
            border: sandybrown dashed 1px;
        }
    </style>
</head>
<body>
<div id="app">
    <button id="btn1" :class="mystyle">버튼</button>
    <p>
        <input type="checkbox" v-model="mystyle.set1" value="true"/>set1 디자인<br/>
        <input type="checkbox" v-model="mystyle.set2" value="true"/>set2 디자인<br/>
        <input type="checkbox" v-model="mystyle.set3" value="true"/>set3 디자인<br/>
    </p>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            mystyle: {
                set1: false,
                set2: false,
                set3: false,
            },
        },
    })
</script>
</body>
</html>
